# OCR Pipeline Service — Python Dependencies

pandas==3.0.2
matplotlib==3.10.9
scikit-learn==1.8.0
seaborn==0.13.2
joblib==1.5.3

# Web framework
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
aiofiles==23.2.1
 
# Computer Vision & Image Processing
opencv-python-headless==4.9.0.80
numpy==1.26.4
pillow==12.2.0
 
# OCR Engine
pytesseract==0.3.10
# Tesseract binary harus diinstall terpisah:
# Ubuntu/Debian : sudo apt install tesseract-ocr tesseract-ocr-ind
# macOS        : brew install tesseract tesseract-lang
 
# Utilities
python-dotenv==1.0.1
 





